<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1> Person  List</h1>
        <table class="table">
            
            <thead>
                
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                
                
                <tr ng-repeat="person in ctrl.persons">
                    
                    <td>{{person.name}}</td>
                    <td><a href="#/details/{{person.id}}" ng-click="ctrl.getPerson(person.id)">{{person.id}}</a></td>
                    
                    
                </tr>
            </tbody>
            
    </body>
</html>
